# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Update_today_wxmp

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */4 * * *'
permissions:
  contents: write
  actions: read
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        ref: main
    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        pip install -r requirements.txt
    - name: update
      env: 
         GH_TOKEN: ${{ secrets.GH_TOKEN }}
      run: |
        python run.py --skip-binary | tee /tmp/update.log
    - name: Commit and push if changed
      run: |
        git config --global user.email "791751568@qq.com"
        git config --global user.name "大清第一巴图鲁"
        git add .
        MESSAGE=$(cat /tmp/update.log)
        COMMIT_MESSAGE="$MESSAGE"
        git diff-index --quiet HEAD || git commit -m "$(echo -e "$COMMIT_MESSAGE")"
        git push origin main
